body {
  font-family: Arial, sans-serif;
  color: #333 !important;
  min-height: 100vh;
  padding: 2rem;
}
.index-body {
  background: linear-gradient(to right, #fff1eb, #ace0f9);
}
.cv-body {
  background: linear-gradient(to bottom, #fdfcfb, #e2d1c3);
}

.sehrim-body {
   background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.mirasimiz-body{
   background: linear-gradient(135deg, #7ee0f1 0%, #09c0ba 100%);
}

.ilgi-body {
  background: linear-gradient(to bottom, #0a0a23, #000); /* ya da istediğin renk */
}

.iletisim-body {
 
}

h1, h2 {
  color: #3d627c !important;
}
h3 {
  color: #6f5586 !important;
}

h5 {
  color: #da5757 !important;
}

h6 {
  color: #7eb0be !important;
}

img {
  margin-top: 10px;
}

.card-title {
  color: #7eb0be !important;
  font-weight: bold;
}

.card-text {
  color: #161616 !important;
}

.card {
  background-color: #365d84 !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.carousel-inner img {
  filter: brightness(1.1) contrast(1.1);
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
}

.carousel {
  margin-top: 10px;
}

#konyaSlider {
  max-width: 800px;
  margin: 0 auto;
}

.custom-navbar {
  background-color: rgb(144, 233, 233);
}

/* Oyun video hover kutuları */
.hover-video-box {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hover-video-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: opacity 0.4s ease-in-out;
  border-radius: 12px;
}

.hover-video-box .video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}

.hover-video-box:hover img {
  opacity: 0;
}

.hover-video-box:hover .video-wrapper {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.hover-video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}



a {
  color: #d40000;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#sanatci {
  position: relative;
  background: radial-gradient(circle at center, #96c8f0, #000);
  border-radius: 16px;
  padding: 60px 20px;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.sanatci-album-bulutu {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.arka-album {
  position: absolute;
  width: 120px;
  animation: albumHareket 40s linear infinite;
  pointer-events: none;
  z-index: 0;
}

@keyframes albumHareket {
  0%   { transform: translateY(-200px); }
  100% { transform: translateY(110%); }
}

.spotify-kutu {
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

